#root, html, body {
  height: 100vh;
}


body {
  background-image: url("./img/bggg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

* {
  box-sizing: border-box;
}
.element {
  background: linear-gradient(to right, red, blue, black);
  backdrop-filter: blur(10px);
}


html {
  scroll-behavior: smooth;
}
